/*
가이드 명칭 : YG CSS 가이드
가이드 내용 : 사이트 레이아웃
최초 제작자 : YG WDT
최종 제작일 : 2018.10.
수정 / 배포 : 담당자 문의 후 수정 가능. 재배포 절대 불가
*/

/* ------------------------------- */

/* IE6.0 Hack CSS 연결 ----------- */

/* ------------------------------- */

@charset "utf-8";

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 * link
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#official-site * {
	color: #282828;
	text-align: center;
}

#official-site h1 {
	font-size: 2.4em;
}

#official-site img {
	max-width: 100%;
	border: 0;
	vertical-align: top;
}

#official-site a {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 36px;
	padding: 0;
	margin-right: .75em;
	margin-bottom: .75em;
	background-color: #282828;
	overflow: visible;
	cursor: pointer;
	text-decoration: none;
	vertical-align: middle;
	box-sizing: border-box;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	onfocus: blur;
}

#official-site a:last-child {
	margin-right: 0;
}

#official-site a.active,
#official-site a:hover,
#official-site a:active,
#official-site a:focus {
	border: 2px solid #282828;
	background-color: #ffffff;
}

#official-site a.round {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#official-site span[class*="icon-"] {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#official-site a.active span[class*="icon-"],
#official-site a:hover span[class*="icon-"],
#official-site a:active span[class*="icon-"],
#official-site a:focus span[class*="icon-"] {
	background-size: 75%;
}

/*
 dark
 */

#official-site span[class*="icon-dark"].youtube,
#official-site span[class$="-dark"].youtube:hover,
#official-site span[class$="-dark"].youtube:active,
#official-site span[class$="-dark"].youtube:focus {
	background-image: url(../img/icon/dark/youtube.png)
}

#official-site span[class*="icon-dark"].facebook,
#official-site a:hover span[class$="-dark"].facebook,
#official-site a:active span[class$="-dark"].facebook,
#official-site a:focus span[class$="-dark"].facebook {
	background-image: url(../img/icon/dark/facebook.png)
}

#official-site span[class*="icon-dark"].twitter,
#official-site a:hover span[class$="-dark"].twitter,
#official-site a:active span[class$="-dark"].twitter,
#official-site a:focus span[class$="-dark"].twitter {
	background-image: url(../img/icon/dark/twitter.png)
}

#official-site span[class*="icon-dark"].instagram,
#official-site a:hover span[class$="-dark"].instagram,
#official-site a:active span[class$="-dark"].instagram,
#official-site a:focus span[class$="-dark"].instagram {
	background-image: url(../img/icon/dark/instagram.png)
}

#official-site span[class*="icon-dark"].weibo,
#official-site a:hover span[class$="-dark"].weibo,
#official-site a:active span[class$="-dark"].weibo,
#official-site a:focus span[class$="-dark"].weibo {
	background-image: url(../img/icon/dark/weibo.png)
}

#official-site span[class*="icon-dark"].vlive,
#official-site a:hover span[class$="-dark"].vlive,
#official-site a:active span[class$="-dark"].vlive,
#official-site a:focus span[class$="-dark"].vlive {
	background-image: url(../img/icon/dark/vlive.png)
}

#official-site span[class*="icon-dark"].fancafe,
#official-site a:hover span[class$="-dark"].fancafe,
#official-site a:active span[class$="-dark"].fancafe,
#official-site a:focus span[class$="-dark"].fancafe {
	background-image: url(../img/icon/dark/fancafe.png)
}

#official-site span[class*="icon-dark"].fanclub-vip,
#official-site a:hover span[class$="-dark"].fanclub-vip,
#official-site a:active span[class$="-dark"].fanclub-vip,
#official-site a:focus span[class$="-dark"].fanclub-vip {
	background-image: url(../img/icon/dark/fanclub-vip.png)
}

#official-site span[class*="icon-dark"].fanclub-innercircle,
#official-site a:hover span[class$="-dark"].fanclub-innercircle,
#official-site a:active span[class$="-dark"].fanclub-innercircle,
#official-site a:focus span[class$="-dark"].fanclub-innercircle {
	background-image: url(../img/icon/dark/fanclub-innercircle.png)
}

#official-site span[class*="icon-dark"].fanclub-ikonic,
#official-site a:hover span[class$="-dark"].fanclub-ikonic,
#official-site a:active span[class$="-dark"].fanclub-ikonic,
#official-site a:focus span[class$="-dark"].fanclub-ikonic {
	background-image: url(../img/icon/dark/fanclub-ikonic.png)
}

#official-site span[class*="icon-dark"].fanclub-yellowkies,
#official-site a:hover span[class$="-dark"].fanclub-yellowkies,
#official-site a:active span[class$="-dark"].fanclub-yellowkies,
#official-site a:focus span[class$="-dark"].fanclub-yellowkies {
	background-image: url(../img/icon/dark/fanclub-yellowkies.png)
}

#official-site span[class*="icon-dark"].fanclub-blink,
#official-site a:hover span[class$="-dark"].fanclub-blink,
#official-site a:active span[class$="-dark"].fanclub-blink,
#official-site a:focus span[class$="-dark"].fanclub-blink {
	background-image: url(../img/icon/dark/fanclub-blink.png)
}

/*
 light
 */

#official-site span[class*="icon-light"].youtube,
#official-site span[class$="-light"].youtube:hover,
#official-site span[class$="-light"].youtube:active,
#official-site span[class$="-light"].youtube:focus {
	background-image: url(../img/icon/light/youtube.png)
}

#official-site span[class*="icon-light"].facebook,
#official-site a:hover span[class$="-light"].facebook,
#official-site a:active span[class$="-light"].facebook,
#official-site a:focus span[class$="-light"].facebook {
	background-image: url(../img/icon/light/facebook.png)
}

#official-site span[class*="icon-light"].twitter,
#official-site a:hover span[class$="-light"].twitter,
#official-site a:active span[class$="-light"].twitter,
#official-site a:focus span[class$="-light"].twitter {
	background-image: url(../img/icon/light/twitter.png)
}

#official-site span[class*="icon-light"].instagram,
#official-site a:hover span[class$="-light"].instagram,
#official-site a:active span[class$="-light"].instagram,
#official-site a:focus span[class$="-light"].instagram {
	background-image: url(../img/icon/light/instagram.png)
}

#official-site span[class*="icon-light"].weibo,
#official-site a:hover span[class$="-light"].weibo,
#official-site a:active span[class$="-light"].weibo,
#official-site a:focus span[class$="-light"].weibo {
	background-image: url(../img/icon/light/weibo.png)
}

#official-site span[class*="icon-light"].vlive,
#official-site a:hover span[class$="-light"].vlive,
#official-site a:active span[class$="-light"].vlive,
#official-site a:focus span[class$="-light"].vlive {
	background-image: url(../img/icon/light/vlive.png)
}

#official-site span[class*="icon-light"].fancafe,
#official-site a:hover span[class$="-light"].fancafe,
#official-site a:active span[class$="-light"].fancafe,
#official-site a:focus span[class$="-light"].fancafe {
	background-image: url(../img/icon/light/fancafe.png)
}

#official-site span[class*="icon-light"].fanclub-vip,
#official-site a:hover span[class$="-light"].fanclub-vip,
#official-site a:active span[class$="-light"].fanclub-vip,
#official-site a:focus span[class$="-light"].fanclub-vip {
	background-image: url(../img/icon/light/fanclub-vip.png)
}

#official-site span[class*="icon-light"].fanclub-innercircle,
#official-site a:hover span[class$="-light"].fanclub-innercircle,
#official-site a:active span[class$="-light"].fanclub-innercircle,
#official-site a:focus span[class$="-light"].fanclub-innercircle {
	background-image: url(../img/icon/light/fanclub-innercircle.png)
}

#official-site span[class*="icon-light"].fanclub-ikonic,
#official-site a:hover span[class$="-light"].fanclub-ikonic,
#official-site a:active span[class$="-light"].fanclub-ikonic,
#official-site a:focus span[class$="-light"].fanclub-ikonic {
	background-image: url(../img/icon/light/fanclub-ikonic.png)
}

#official-site span[class*="icon-light"].fanclub-yellowkies,
#official-site a:hover span[class$="-light"].fanclub-yellowkies,
#official-site a:active span[class$="-light"].fanclub-yellowkies,
#official-site a:focus span[class$="-light"].fanclub-yellowkies {
	background-image: url(../img/icon/light/fanclub-yellowkies.png)
}

#official-site span[class*="icon-light"].fanclub-blink,
#official-site a:hover span[class$="-light"].fanclub-blink,
#official-site a:active span[class$="-light"].fanclub-blink,
#official-site a:focus span[class$="-light"].fanclub-blink {
	background-image: url(../img/icon/light/fanclub-blink.png)
}

/*
 color
 */

#official-site span[class*="icon-color"].youtube,
#official-site a:hover span[class$="-color"].youtube,
#official-site a:active span[class$="-color"].youtube,
#official-site a:focus span[class$="-color"].youtube {
	background-image: url(../img/icon/color/youtube.png)
}

#official-site span[class*="icon-color"].facebook,
#official-site a:hover span[class$="-color"].facebook,
#official-site a:active span[class$="-color"].facebook,
#official-site a:focus span[class$="-color"].facebook {
	background-image: url(../img/icon/color/facebook.png)
}

#official-site span[class*="icon-color"].twitter,
#official-site a:hover span[class$="-color"].twitter,
#official-site a:active span[class$="-color"].twitter,
#official-site a:focus span[class$="-color"].twitter {
	background-image: url(../img/icon/color/twitter.png)
}

#official-site span[class*="icon-color"].instagram,
#official-site a:hover span[class$="-color"].instagram,
#official-site a:active span[class$="-color"].instagram,
#official-site a:focus span[class$="-color"].instagram {
	background-image: url(../img/icon/color/instagram.png)
}

#official-site span[class*="icon-color"].weibo,
#official-site a:hover span[class$="-color"].weibo,
#official-site a:active span[class$="-color"].weibo,
#official-site a:focus span[class$="-color"].weibo {
	background-image: url(../img/icon/color/weibo.png)
}

#official-site span[class*="icon-color"].vlive,
#official-site a:hover span[class$="-color"].vlive,
#official-site a:active span[class$="-color"].vlive,
#official-site a:focus span[class$="-color"].vlive {
	background-image: url(../img/icon/color/vlive.png)
}

#official-site span[class*="icon-color"].fancafe,
#official-site a:hover span[class$="-color"].fancafe,
#official-site a:active span[class$="-color"].fancafe,
#official-site a:focus span[class$="-color"].fancafe {
	background-image: url(../img/icon/color/fancafe.png)
}

#official-site span[class*="icon-color"].fanclub-vip,
#official-site a:hover span[class$="-color"].fanclub-vip,
#official-site a:active span[class$="-color"].fanclub-vip,
#official-site a:focus span[class$="-color"].fanclub-vip {
	background-image: url(../img/icon/color/fanclub-vip.png)
}

#official-site span[class*="icon-color"].fanclub-innercircle,
#official-site a:hover span[class$="-color"].fanclub-innercircle,
#official-site a:active span[class$="-color"].fanclub-innercircle,
#official-site a:focus span[class$="-color"].fanclub-innercircle {
	background-image: url(../img/icon/color/fanclub-innercircle.png)
}

#official-site span[class*="icon-color"].fanclub-ikonic,
#official-site a:hover span[class$="-color"].fanclub-ikonic,
#official-site a:active span[class$="-color"].fanclub-ikonic,
#official-site a:focus span[class$="-color"].fanclub-ikonic {
	background-image: url(../img/icon/color/fanclub-ikonic.png)
}

#official-site span[class*="icon-color"].fanclub-yellowkies,
#official-site a:hover span[class$="-color"].fanclub-yellowkies,
#official-site a:active span[class$="-color"].fanclub-yellowkies,
#official-site a:focus span[class$="-color"].fanclub-yellowkies {
	background-image: url(../img/icon/color/fanclub-yellowkies.png)
}

#official-site span[class*="icon-color"].fanclub-blink,
#official-site a:hover span[class$="-color"].fanclub-blink,
#official-site a:active span[class$="-color"].fanclub-blink,
#official-site a:focus span[class$="-color"].fanclub-blink {
	background-image: url(../img/icon/color/fanclub-blink.png)
}

#official-site .sponsor {
	margin-bottom: 3em;
}

#official-site .sponsor span {
	display: inline-block;
	margin-right: 2em;
}

#official-site .sponsor span:last-child {
	margin-right: 0;
}

#official-site .sponsor strong {
	display: inline-block;
	margin-left: .5em;
}

#official-site .sponsor strong img,
#official-site .sponsor strong svg {
	/*height: 1em;*/
	margin-top: -3px;
	vertical-align: middle;
}

#official-site .sponsor strong.logo-genie img,
#official-site .sponsor strong.logo-genie svg {
	/*height: 1.75em;*/
	margin-top: -5px;
}

#official-site .logo img {
	/*width: 33%;*/
	max-width: 120px;
	max-height: 24px;
}

#official-site .hidden {
	display: none;
}

/* ------------------------------
---------------------------------
[ Desktops only ]
---------------------------------
------------------------------ */

@media (min-width: 970px) {
	#official-site {
		padding: 5vw 0;
	}

	#official-site h1 {
		margin-bottom: 3vw;
	}

	#official-site .logo {
		margin-top: 3vw;
	}
}

/* ------------------------------
---------------------------------
[ Phones & Tablets only ]
---------------------------------
------------------------------ */

@media (max-width: 969px) {
	#official-site {
		padding: 5vw 0;
	}

	#official-site h1 {
		margin-bottom: 3vw;
	}

	#official-site .logo {
		margin-top: 3vw;
	}
}

@media (max-width: 480px) {
	#official-site {
		padding: 10vw 0;
	}

	#official-site h1 {
		font-size: 2em;
		margin-bottom: 6vw;
	}

	#official-site a {
		width: 32px;
		height: 32px;
		margin-right: .5em;
		margin-bottom: .5em;
	}

	#official-site .logo {
		margin-top: 6vw;
	}
}

@media (max-width: 320px) {}

@media screen and (max-aspect-ratio: 1/1) {}

@media only screen and (orientation: landscape) {}

/*/////////////////////////////// end /*/