body {
	width: 100vw;
	height: 100vh;
	background-color: #354259;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	display: flex;
}

.rings {
	--border-width: 2px;
	--border-style: solid;
	--animation-duration: 4s;
	--animation-count: infinite;
	--animation-direction: normal;
	--animation-fill-mode: both;
	position: relative;
	width: 400px;
	aspect-ratio: 1/1;
}

.rings > .ring {
	position: absolute;
	top: 50%;
	left: 50%;
	aspect-ratio: 1/1;
	border-width: var(--border-width);
	border-style: var(--border-style);
	border-radius: 50%;
	transform-origin: center;
	animation-duration: var(--animation-duration);
	animation-delay: calc(0.4s * var(--delay));
	animation-iteration-count: var(--animation-count);
	animation-direction: var(--animation-direction);
	animation-fill-mode: var(--animation-fill-mode);
	filter: opacity(0);
	will-change: transform;
	overflow: hidden;
}

.rings > .ring:nth-child(even) {
	border-color: #9adcff;
}

.rings > .ring:nth-child(odd) {
	border-color: #ffb2a6;
}

.rings > .ring:first-child {
	width: 50px;
	margin: -25px 0 0 -25px;
}

.rings > .ring:nth-child(2) {
	width: 64px;
	margin: -32px 0 0 -32px;
}

.rings > .ring:nth-child(3) {
	width: 78px;
	margin: -39px 0 0 -39px;
}

.rings > .ring:nth-child(4) {
	width: 92px;
	margin: -46px 0 0 -46px;
}

.rings > .ring:nth-child(5) {
	width: 104px;
	margin: -52px 0 0 -52px;
}

.rings > .ring:nth-child(6) {
	width: 118px;
	margin: -59px 0 0 -59px;
}

.anim-zoomIn {
	animation-name: zoomIn;
}

@keyframes zoomIn {
	0% {
		transform: perspective(200px) translatez(0);
		filter: opacity(0);
	}
	60% {
		filter: opacity(100%);
	}
	100% {
		transform: perspective(200px) translatez(200px);
	}
}

.anim-zoomInPan {
	animation-name: zoomInPan;
}

@keyframes zoomInPan {
	0% {
		transform: perspective(200px) translatex(0) translatey(0) translatez(0);
		filter: opacity(0);
	}
	25% {
		transform: perspective(200px) translatex(-50px) translatey(50px)
			translatez(50px);
	}
	60% {
		filter: opacity(100%);
	}
	100% {
		transform: perspective(200px) translatex(10px) translatey(0) translatez(200px);
	}
}
