@keyframes my-animation{
    0%{left:0px;}
    100%{left:350px}
}

div{
    width: 200px;
    height: 60px;
    color: blueviolet;
    background-color: rgb(218, 219, 118);
    position: relative;
    animation-name: my-animation;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running;
}

#route1 {animation-timing-function: ease;}
#route2 {animation-timing-function: ease-in;}
#route3 {animation-timing-function: ease-out;}
#route4 {animation-timing-function: ease-in-out;}
#route5 {animation-timing-function: linear;}

div:hover{
    animation-play-state: paused;
}