* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: left;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

@media only screen and (min-width: 481px) {
    .col-s-25 { width: 25%; }
    .col-s-75 { width: 75%; }
    .col-s-100 { width: 100%; }
}
@media only screen and (min-width: 769px) {
    .col-s-25 { width: 50%; }
    .col-s-75 { width: 50%; }
}

html {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: rgb(223, 212, 119);
    color: rgb(142, 189, 99);
    padding: 15px;
}

.menu ul {
    margin: 0;
}
.menu li {
    background-color: rgb(233, 214, 40);
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: gray 1px 2px 2px;
}

aside {
    background-color: rgb(67, 110, 165);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    box-shadow: gray 3px 3px 3px;
}
footer {
    background-color: lightgray;
    color: blue;
    text-align: center;
    font-size: 18px;
    padding: 15px;
}

img {
    max-width: 100%;
    height: auto;
}